@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.container {
    margin-top: 1px;
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
}
.info {
    width: 40%;
    margin: auto;
    background-color: black;
    border-radius: 15px;
    margin-top: 150px;
    text-align: center;
    color: white;
}
.items {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.item {
    margin: 20px;
}
.info h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
@media (max-width : 1100px) {
    .info {
        width: 90%;
    }
}